@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
	background: rgb(23, 33, 43);
}

body {
	max-width: 419px;
	margin: 0 auto;
}

.card__logo {
	padding: 5px
}

.card__logo svg, .card__logo img {
	max-width: 80px;
	max-height: 80px;
}

.card {
	color: white;
	text-align: center;
	margin-bottom: 10px;
}

.card__header {
	margin: 5px 0 8px 0;
}

.CarBrands {
	display: flex;
	justify-content: space-around;
	gap: 5px;
	padding: 10px 0;
	flex-wrap: wrap;
	min-width: 324px;
}

.checkLink {
	text-decoration: none;
	border-radius: 5px;
	background: rgb(248, 169, 23);
	padding: 3px 5px;
	color: white;
	font-weight: 700;
	animation-duration: .5s;
}

.checkLink:hover {
	transition: .5s;
	background-color: #aa7411;
}

.modelItem {
	color: white;
	background: #386b87;
	padding: 10px 5px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.carModels {
	padding: 10px 0
}

.modelItem__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3px 10px;
	text-decoration: none;
	color: white;
	font-size: 24px;
}

.cardFooter__text {
	border-bottom: 2px solid transparent;
}

.modelItem__footer a * {
	display: block;
}

.modelItem__header {
	font-weight: 500;
	font-size: 24pt;
	margin: 0 0 4px 0;
}

.modelItem__image {
	border-radius: 15px;
	overflow: hidden;
}

.modelItem__image img {
	max-width: 100%
}

.modelItem__footer a svg {
	width: 16px;
	height: 16px;
}

.modelItem__price {
	font-weight: 700;
	font-size: 16pt;
	margin: 10px 0 2px 0;
}

.modelItem__desc {
	margin-bottom: 6px;
	opacity: .8;
	padding-left: 15px;
	border-left: 3px solid white;
	margin-left: 5px;
}

.cardFooter__arrow svg {
	filter: invert(1);
}

.modelItem__footer:hover .cardFooter__text {
	border-bottom: 2px solid white;
}